.place__title {
    margin: 0;
    padding: 0;
    grid-area: title;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
  }
  
  @media screen and (max-width: 970px) {
      .place__title {
          font-size: 60px;
          line-height: 64px;
        }
  }
  
  @media screen and (max-width: 768px) {
      .place__title {
          font-size: 42px;
          line-height: 46px;
        }
  }
  
  @media screen and (max-width: 450px) {
      .place__title {
          font-size: 32px;
          line-height: 35px;
        }
  }
  
  
  @media screen and (max-width: 320px) {
      .place__title {
          padding-left: 16px;
          padding-right: 16px;  
      }
  }