.photo-grid {
    padding: 0 48px 92px;
    max-width: calc(100% - 48px*2);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 16px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        padding: 0 24px 88px;
        max-width: calc(100% - 24px*2);
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

@media screen and (max-width: 475px) {
    .photo-grid {
        padding: 0 16px 64px;
        max-width: calc(100% - 16px*2);
        grid-template-columns: 1fr;
        gap: 12px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid  {
        max-width: 288px;  
    }
}