
/*.root {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #2A2C2F;
    */


/* Grid */

.photo-grid {
    padding: 0 48px 92px;
    max-width: calc(100% - 48px*2);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 16px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        padding: 0 24px 88px;
        max-width: calc(100% - 24px*2);
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

@media screen and (max-width: 475px) {
    .photo-grid {
        padding: 0 16px 64px;
        max-width: calc(100% - 16px*2);
        grid-template-columns: 1fr;
        gap: 12px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid  {
        max-width: 288px;  
    }
}

.photo-grid__item {
    width: 100%;
    object-fit: cover;
}
 

 

/* Места */

.places {
    margin: 0;
    padding: 0 calc( (100% - 984px)/2 );
    max-width: 984px;
    color: #FFFFFF;
    font-family: 'Inter'; 
}

@media screen and (max-width: 1024px) {
    .places {
        padding: 0 calc((100% - 928px)/2);
        max-width: 928px;  
    }
}

@media screen and (max-width: 768px) {
    .places {
        padding: 0 calc((100% - 720px)/2);
        max-width: 720px;  
    }
}

@media screen and (max-width: 425px) {
    .places {
        padding: 0;
        max-width: 320px;  
    }
}

.place {
    padding: 0 0 80px;
    margin: 0;
    display: grid;
    grid-template-columns: minmax(440px, 460px) 1fr;
    grid-template-rows: repeat(2, min-content);
    row-gap: 48px;
    column-gap: 40px;
    grid-template-areas:
    "title url"
    "image paragraph";   
}

@media screen and (max-width: 1024px) and (max-width: 1280px){
    .place {
        column-gap: 32px; 
    }
}

@media screen and (min-width: 768px) and (max-width: 950px) {
    .place {
        padding-bottom: 73px;
        grid-template-columns: minmax(340px, 360px) 1fr;
        column-gap: 28px; 
    }
}



@media screen and (max-width: 768px) and (min-width: 425px) {
    .place {
        padding-bottom: 50px;
       display: flex;
       flex-direction: column;
        row-gap: 32px;
        column-gap: 0;
        grid-template-areas:
        "title" 
        "url"
        "image"
        "paragraph";  
    }
}

@media screen and (max-width: 320px) {
    .place {
        padding-bottom: 50px;
        grid-template-columns:  320px;
        grid-template-rows: repeat(4, min-content);
        row-gap: 32px;
        column-gap: 0;
        grid-template-areas:
        "title" 
        "url"
        "image"
        "paragraph";  
    }
}


.place:last-child {
    padding-bottom: 0;
}

.place__title {
  margin: 0;
  padding: 0;
  grid-area: title;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (max-width: 425px) {
    .place__title {
        padding-left: 16px;
        padding-right: 16px;
        font-size: 32px;
        line-height: 35px;
      }
}

.place__image {
  margin: 0;
  padding: 0;
  grid-area: image;
  width: 100%;
  object-fit: cover;
  margin: 0;
}

.place__website {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    grid-area: url;
}

@media screen and (max-width: 425px) {
    .place__website {
        padding-left: 16px;
        padding-right: 16px;  
    }
}

.place__url-heading {
    margin: 0;
    padding: 0 0 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
}

.place__link {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}


.place__paragraph {
  margin: 0;
  padding: 0 0 26px;
  grid-area: paragraph;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

.place__paragraph:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 425px) {
    .place__paragraph {
        padding-left: 16px;
        padding-right: 16px;  
    }
}

/* Перед подвалом */

.cover {
    margin: 0;
    padding: 92px calc( (100% - 1184px)/2 );
    max-width: 1184px;
    text-align: center;
    font-family: 'Inter';
}

@media screen and (max-width: 1024px) {
    .cover {
        padding: 92px 0;
        max-width: 1024px;
      
    }
}

@media screen and (max-width: 768px) {
    .cover {
        padding: 90px 0 88px;
        max-width: 100vw;
    }             
}

@media screen and (max-width: 425px) {
    .cover {
        padding: 66px 0 64px;
    }   
}

@media screen and (max-width: 320px) {
    .cover  {
        padding: 48px 0 64px;
    }
}

.cover__link {
  z-index: 4;
  grid-row: 1/1;
  grid-column: 1/1;
  display: grid;
  grid-template-columns: 1184px;
  grid-template-rows: 740px;
  color: #FFFFFF;
  text-decoration: none;
}

.cover__text {
    grid-row: 1/1;
    grid-column: 1/1;   
    z-index: 3;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover__title {
    max-width: 560px;
    margin: 0;
    padding: 0 0 32px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

@media screen and (max-width: 425px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }   
}

.cover__subtitle {
    max-width: 360px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}


@media screen and (max-width: 425px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
    }   
}

.cover__overlay {
  max-width: 100%;
  object-fit: cover;
  z-index: 2;
  grid-row: 1/1;
  grid-column: 1/1;
  background-color: #2A2C2F;
  opacity: 0.3;
}

.cover__overlay:hover {
    color: #2A2C2F;
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        max-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        max-width: 100vw;
    }             
}



.cover__background {
  max-width: 100%;
  object-fit: cover;
  align-self: center;
  z-index: 1;
  grid-row: 1/1;
  grid-column: 1/1;
}

@media screen and (max-width: 1024px) {
    .cover__background {
        max-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .cover__background {
        max-width: 100vw;

}

}

/*Подвал*/

.footer {
    max-width: 1184px;
    margin: 0;
    padding: 0 calc((100% - 1184px)/2) 24px;
    display: flex;
    justify-content: space-between;

}

.footer__links {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    gap: 18px;
    color: #fff;
    list-style-type: none;
}

.footer__link {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #fff; 
  opacity: 1;
}

.footer__link:hover {
    opacity: 0.8;
}

.footer__copyright {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #fff;
}