
/*.root {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #2A2C2F;
    */


/* Перед подвалом */

.cover {
    margin: 0;
    padding: 92px 48px;
    max-width: calc(100% - 48px*2);
    max-height: 640px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
 

.cover__link {
  z-index: 4;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  background-image: url(./image/train.jpg);
  background-color: #2A2C2F;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 740px;
}

/*
@media screen and (max-width: 1024px) {
    .cover__link {
        height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__link {
        height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover__link {
        height: 200px;
    }
}*/

.cover__text {
    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.cover__title {
    max-width: 560px;
    margin: 0;
    padding: 0 0 32px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

/*
@media screen and (max-width: 425px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }   
}

.cover__subtitle {
    max-width: 360px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}


/*
@media screen and (max-width: 425px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
    }   
}

*/

.cover__overlay {
  max-width: 100%;
  object-fit: cover;
  z-index: 2;
  background-color: #2A2C2F;
  opacity: 0.3;
}

.cover__overlay:hover {
    color: #2A2C2F;
    opacity: 0.8;
    cursor: pointer;
}
/*
@media screen and (max-width: 1024px) {
    .cover__overlay {
        max-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        max-width: 100vw;
    }             
}


Подвал*/

.footer {
    max-width: calc(100% - 48px*2);
    margin: 0;
    padding: 0 48px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }            
}

@media screen and (max-width: 720px) {
    .footer {
    max-width: calc(100% - 48px*2);
    margin: 0;
    padding: 0 48px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    }            
}

.footer__links {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    gap: 18px;
    color: #fff;
    list-style-type: none;
}

@media screen and (max-width: 720px) {
    .footer__links {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(1, min-content);
        grid-template-columns: repeat(5, 1fm);
        gap: 18px;
        color: #fff;
        list-style-type: none;
    }           
}

.footer__link {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #fff; 
  opacity: 1;
}

.footer__link:hover {
    opacity: 0.8;
}

.footer__copyright {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #fff;
}