/* Перед подвалом */

.cover__link {
    margin: 0;
    padding: 0;
    max-width: 100%;
    min-height: 740px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(./image/train.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    color: #FFFFFF;
    text-decoration: none;
}
 
  .cover__link::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #2a2c2f;
    opacity: 0.3;
    z-index: 2;
  }
  
  .cover__link:hover::before {
    opacity: 0.8;
    transition: 0.5s ease-in-out;
  }

@media screen and (max-width: 1024px) {
    .cover__link {
        min-height: 640px;
    }  
}

@media screen and (max-width: 768px) {
    .cover__link {
        min-height: 480px;
    }    
}

@media screen and (max-width: 650px) {
    .cover__link {
        min-height: 350px;
    }   
}

@media screen and (max-width: 380px) {
    .cover__link {
        min-height: 200px;
    }    
}

.cover__text {
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.cover__title {
    margin: 0;
    padding: 0 0 32px;
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
}

@media screen and (max-width: 650px) {
    .cover__title {
        padding: 0 0 24px;
        max-width: 380px;
        font-size: 48px;
        line-height: 52px;
    }   
}

@media screen and (max-width: 380px) {
    .cover__title {
        padding: 0 0 16px;
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }   
}

.cover__subtitle {
    margin: 0;
    padding: 0;
    max-width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

@media screen and (max-width: 650px) {
    .cover__subtitle {
        max-width: 380px;
        font-size: 16px;
        line-height: 20px;
    }   
}

@media screen and (max-width: 380px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
    }   
}

 
/*Подвал*/

.footer {
    max-width: calc(100% - 48px*2);
    margin: 0;
    padding: 0 48px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }            
}

@media screen and (max-width: 720px) {
    .footer {
    max-width: calc(100% - 48px*2);
    margin: 0;
    padding: 0 48px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }            
}

.footer__links {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    gap: 18px;
    color: #fff;
    list-style-type: none;
}

@media screen and (max-width: 720px) {
    .footer__links {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(1, min-content);
        grid-template-columns: repeat(5, 1fm);
        gap: 18px;
        color: #fff;
        list-style-type: none;
    }           
}

.footer__link {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #fff; 
  opacity: 1;
}

.footer__link:hover {
    opacity: 0.8;
}

.footer__copyright {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #fff;
}