.lead {
    margin: 0;
    padding: 56px 148px 92px;
    width: calc(100% - 148px*2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .lead  {
        padding: 56px 48px 92px;
        width: calc(100% - 48px*2); 
    }
}

@media screen and (max-width: 768px) {
    .lead {
        padding: 48px 0 88px;
        width: 100vw;  
    }
}

@media screen and (max-width: 700px) {
    .lead  {
        padding: 48px 0 64px;   
    }
}