.header  {
    margin: 0;
    padding: 28px calc((100% - 1184px)/2) 0 ;
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    align-items: end;   
}

@media screen and (max-width: 1024px) {
    .header  {
        padding: 28px calc((100% - 928px)/2) 0 ;
        max-width: 928px;  
    }
}

@media screen and (max-width: 768px) {
    .header  {
        padding: 28px calc((100% - 720px)/2) 0 ;
        max-width: 720px;  
    }
}

@media screen and (max-width: 425px) {
    .header  {
        padding: 28px calc((100% - 320px)/2) 0 ;
        max-width: 320px;  
    }
}

@media screen and (max-width: 320px) {
    .header  {
        padding: 28px calc((100% - 288px)/2) 0 ;
        max-width: 288px;  
    }
}
