.header  {
    margin: 0;
    padding: 28px 48px 0;
    width: calc(100% - 48px*2);
    display: flex;
    justify-content: space-between;
    align-items: end;   
}


@media screen and (max-width: 768px) {
    .header  {
        padding: 28px 24px 0;
        width: calc(100% - 24px*2);  
    }
}

@media screen and (max-width: 475px) {
    .header  {
        padding: 28px 16px 0;
        width: calc(100% - 16px*2);
        align-items: center;    
    }
}

@media screen and (max-width: 320px) {
    .header  {
        min-width: 288px;    
    }
}