
.lead__title  {
    margin: 0;
    padding: 0;
    max-width: 720px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;    
}

@media screen and (max-width: 425px) {
    .lead__title  {
        max-width: 320px;
        font-size: 40px;
        line-height: 44px;
    }
}

@media screen and (max-width: 320px) {
    .lead__title  {
        max-width: 288px;
    }
}