.lead__subtitle {
    margin: 32px 0 64px;
    padding: 0;
    max-width: 640px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle  {
        margin: 32px 0 56px;
    }
}

@media screen and (max-width: 425px) {
    .lead__subtitle  {
        max-width: 320px;
        font-size: 16px;
        line-height: 20px;
        margin: 16px 0 40px;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle  {
        max-width: 288px;
    }
}