.place__link {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-underline-offset: 4px;
    opacity: 1;
    transition: opacity 0.5s;
}

.place__link:hover {
    opacity: 0.8;
    cursor: pointer;
}
